ema_pytorch==0.7.7
kaggle==1.6.17
matplotlib==3.10.0
numpy==2.2.3
pandas==2.2.3
Pillow==11.1.0
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
wandb==0.19.6
python-telegram-bot==21.10
python-dotenv==1.0.1
